/* .border {
  border: 5px solid green !important;
} */

.main {
  display: flex;
  /* width: 30%; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.main form {
  width: 100%;
  /* border: 2px solid red; */
  padding: 50px;
  /* margin-right: auto;
  margin-left: auto;
  
  margin: auto;
   */
}

.main input {
  /* border: none !important; */
  /* border-bottom: 1px solid #333 !important; */
  outline: none !important;
  border-radius: 0px !important;
}

.form-control,
.form-control:focus
 {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #333;
  box-shadow: none;
  outline: none;
}

.form-select,.form-select:focus{
  border: 1px solid #333; 
  border-radius: 0;
  box-shadow: none;
  outline: none;
}


.form-select,.form-check-label,.form-check-input{
  cursor: pointer;
}


.form-control:focus
{
  border-bottom: 1px solid #3daed2;
}

.form-select:focus{
  border: 1px solid #3daed2;
  outline: none !important;
  box-shadow: none !important;
}




/* border: none !important; */
.main input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.main button.btn,
.main a.btn {
  color: #fff;
  background-color: #3daed2;
  width: 100%;
  margin-top: 30px;
  padding: 15px 0;
  letter-spacing: 1px;
}

.main a.btn {
  margin-top: 15px;
}

.main button.btn:hover,
.main a.btn:hover {
  color: #fff;
  background-color: #3daed2;
  opacity: 0.9;
}

.main .social .face {
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
}

.main .social .google {
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
  margin-left: 15px;
}

.main .social a {
  color: #333;
}


.docformbtn{
  text-decoration: none;
  color: #0d6efd;
}



@media screen and (min-width: 320px) and (max-width: 480px) {
  .main {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .main {
    width: 80%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main {
    width: 60%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .main {
    width: 50%;
  }
}

@media screen and (min-width: 1201px) {
  .main {
    width: 40%;
  }
}
