
/* .patientdashboard{
    overflow-x: scroll;
} */


.table{
    width: 100%;
}

.paDetailsbtn{
    text-decoration: none;
    color: #0D6EFD;
}

/* .paDetailsbtn:hover{
  
} */



@media screen and (max-width:565px)  {
    .table{
        margin-top: 57px ;
    }

.patientdashboard{
    overflow-x: scroll;
}
.docNav{
    position: fixed;
    width: 100%;
}

}