/* .home-page {
  min-height: 70vh;
} */

/* .carosuel-img{
  height: 100vh;
} */
.carosuel-img img {
  height: 93vh;
  border-bottom: 3px solid #3daed2;
}

/*
.main-carosuel {
  /* margin-top: 50px; */
/* margin-bottom: auto; */
/* border-top: 3px solid #3daed2; */
/* border-bottom: 3px solid #3daed2; */
/* min-height: 92vh; }*/

.main-carosuel button {
  display: none;
}

.main-btn {
  color: #fff;
  background-color: #3daed2;

  margin-top: 30px;
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 50%;
  /* height: 50px; */
  font-size: 20px;
  /* letter-spacing: 1px; */
}

.main-btn:hover {
  letter-spacing: 1px;
}

.choose-sec {
  margin-top: 150px;
  margin-bottom: 100px;
}

.choose-card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding-bottom: 17px;
  margin-bottom: 35px;
}

.card-text {
  padding-left: 10px;
}

.choose-sec h5 {
  margin-top: 10px;
  margin-bottom: 15x;
}

.choose-sec p {
  color: gray;
}

.choose-sec a {
  text-decoration: none;
  color: #3daed2;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid #3daed2;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-right: 15px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

.choose-sec a:hover {
  color: #fff;
  background-color: #3daed2;
}


.centered-alert-home {
  width: 270px;
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}

.close-icon-home {
  position: absolute;
  right: 7px;
  top: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: .2s;
}

.close-icon-home:hover{
  rotate: 180deg;
}