

.chat-div {
  /* width: 90%;
    position:fixed;
    bottom: 15px; */
  /* margin-inline: auto; */
  /* margin-left: 50px; */
  position: relative;
}

.chat-div button {
  all: unset;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 40px;
  bottom: 25px;
  color: #3daed2;
  /* color: blue; */
  transition: 0.3s;
}

.chat-div button:hover {
  opacity: 0.8;
}

.chat {
  padding: 10px 20px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  transition: 0.1s;
  outline: none;
  border: 1px solid #000;
}

.chat:focus,
.chat:hover {
  border-color: #3daed2;
  outline: none;
}

.chat-icon {
  opacity: 0.8;
}


.msg-content{
    padding: 10px 20px;
}



/* .message {
  margin-bottom: 15px;
  font-size: 20px;
} */
