
.main-doc-card{
    margin-top: 20px;
    margin-bottom: 50px;
}

.doc-card {
    min-height: 100%;
    /* border: 1px solid #000; */
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;

}

.doc-card-body{
    
    padding: 10px;
    padding-top: 15px;
}

.doc-card-text{
    padding-top: 15px;
}

/* .specialof-doc{
    font-size: 13px;
} */